.Rproj.user
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/controlcharts.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/rGraphicsSettings.xml
/.idea/rSettings.xml
/.idea/vcs.xml
